/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    list-style-type: none;
    color: black;
}

/*Infos qui apparaissent sur format tel seulement*/
#show {
    display: none;
}

main, #main_row, aside, aside span, #article_infos, #section_name, #section_infos, #section_infos div {
    display: flex;
}

#main_row, #article_infos, p {
    width: 100%;
}

li, p, h1, h2, h3 {
    cursor: default;
}

html, body, main {
    min-height: 100vh;
    width: 100%;
}

main {
    flex-direction: column;
    justify-content: space-between;
}


/*LIENS*/
a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: rgb(70, 148, 255);
    text-decoration: line-through;
}


/*ARTICLE MAIN_ROW*/
#main_row {
    height: 70vh;
}

aside {
    width: 30%;
    writing-mode: sideways-lr;
    -webkit-writing-mode: sideways-lr;
    text-orientation: mixed;
    font-size: 10vh;
    letter-spacing: 0.2em;
}
aside span {
    flex-direction: column;
    text-align: left;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#photoCouv {
    background: url('images/Lea.png') no-repeat center;
    background-size: cover;
    width: 70%;
}

/*ARTICLE_INFOS*/
#article_infos {
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 2%;
}

#section_name {
    width: 30%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

h3 {
    width: 50%;
}

#section_infos {
    width: 70%;
    justify-content: space-around;
}

#section_infos div {
    flex-direction: column-reverse;
}


/*MEDIA QUERIES*/

/*Tablet*/
@media screen and (max-width: 1024px) {
    aside, #photoCouv {
        width: 50%;
        font-size: 7vh;
    }
    #section_name {
        width: 20%;
    }
    #section_infos {
        width: 80%;
    }
}

/*Phone*/
@media screen and (max-width: 640px) {
    aside, #photoCouv {
        font-size: 7vh;
    }
    #show {
        display: block;
    }

    .hide {
        display: none !important;
    }
    #section_name {
        width: 50%;
        justify-content: space-evenly;
    }
    h3, #show {
        width: 100%;
        text-align: left;
    }

    #section_infos {
    flex-direction: column;
        text-align: right;
        justify-content: space-evenly;
    }

    #article_infos {
        padding: 3%;
    }
}


/*

!* Media Queries *!

!*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  *!

@media (min-width: 1025px) and (max-width: 1280px) {
    !* CSS *!
    aside {
        width: 10vh;
    }
    h1,
    h2 {
        font-size: 500%;
    }
    h3 {
        font-size: 200%;
    }
    #section_infos {
        font-size: 100%;
    }
}


!*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  *!

@media (min-width: 768px) and (max-width: 1024px) {
    !* CSS *!
    aside {
        width: 10vh;
    }
    h1,
    h2 {
        padding-top: 100px;
        font-size: 500%;
    }
    h3 {
        font-size: 200%;
    }
    #section_infos {
        font-size: 100%;
    }
}


!*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  *!

@media (min-width: 481px) and (max-width: 767px) {
    aside {
        width: 10vw;
    }
    h1,
    h2 {
        padding-right: 0;
        padding-top: 100px;
        font-size: 300%;
    }
    h3 {
        padding-top: 50px;
        font-size: 200%;
    }
    #section_infos {
        font-size: 100%;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding-right: 50px;
        padding-top: 50px;
    }
    .hide {
        display: none;
    }
}


!*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  *!

@media (min-width: 320px) and (max-width: 480px) {
    h1,
    h2 {
        padding-right: 10px;
        padding-top: 100px;
        font-size: 150%;
    }
    h3 {
        font-size: 100%;
        height: 50%;
        width: 100%;
    }
    h1 {
        padding: 0px;
    }
    !* CSS *!
    !* aside {
        width: 3vw;
    } *!
    #section_infos,
    #section_infos div {
        font-size: 100%;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
    }
    .hide {
        display: none;
    }
}*/
